.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d7d7d7;
  height: 80px;
  width: 800px;
}

.coin {
  display: flex;
  min-width: 300px;
  align-items: center;
  padding-right: 24px;
}
.coin img {
  height: 30px;
  margin-top: 20px;
  margin-right: 20px;
  width: 30px;
}

.coin h2 {
  font-size: 20px;
  width: 150px;
}

.coin-symbol {
  width: 100%;
  margin-left: 2px;
}

.coin-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.coin-price {
  width: 110px;
}

.coin-volume {
  width: 130px;
}

.coin-percent {
  width: 80px;
}

.red {
  color: red;
}

.green {
  color: green;
}
